* {
    margin:0px;
    padding:0px;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    cursor: default;
    color: #888;
    background-color: #333;
    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* fix bug: https://github.com/cocos-creator/2d-tasks/issues/791 
    /* overflow cannot be applied in Cocos2dGameContainer, 
    otherwise child elements will be hidden when Cocos2dGameContainer rotated 90 deg */
    overflow: hidden;
}
#AppContainer {
    background-image: url(../images/Capture2.PNG);
    margin: auto;
    width: 1337px;
    height: 927px;
    background-position: center center;
    background-repeat:no-repeat;
    border:3px solid #ff0000;
}
